// global variables & useful tools


// -------- colors --------

$white:      #fff;
$black:      #000;
$light-grey: #eeeeee;
$dark-grey:  #1a1a1a;

$grey-darkest: #2e2e2e;
$grey-darker:  #47484a;
$grey-dark:    #74787d;
$grey:         #a1a5a9;
$grey-light:   #dadcdf;
$grey-lighter: #f2f5f7;

$se-orange:         #ff8c00;
$se-orange-light:   #fdbe77;
$se-orange-lighter: #feddb7;

$black:      #0d0d0d;
$heading:    #0d0d0d;
$paragraph:  #5f5f5f;


// -------- breakpoints --------

$xxxlarge:  1120px;
$xxlarge:   970px;
$xlarge:    850px;
$large:     650px;
$medium:    450px;
$small:     300px;

@mixin bp($width){
  @if $width == xxxlarge {
    @media (min-width:$xxxlarge) {@content;}
  }
  @if $width == xxlarge {
    @media (min-width:$xxlarge) {@content;}
  }
  @if $width == xlarge {
    @media (min-width:$xlarge) {@content;}
  }
  @if $width == large {
    @media (min-width:$large) {@content;}
  }
  @if $width == medium {
    @media (min-width:$medium) {@content;}
  }
  @if $width == small {
    @media (min-width:$small) {@content;}
  }
}

// vertical breakpoint for small screen mobile
@mixin bp-vertical {
  @media (max-height:$medium) and (max-width:$large) { @content; }
}


// -------- global box-sizing & font smoothing --------

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
     -moz-font-smoothing: antialiased;
          font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}


// -------- responsive images --------

img {
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}
.js-svg-swap {
  max-width: 100%;
  width: 100%;
}


// -------- text link style --------

a {
  color: inherit;
  text-decoration:none;
}

a[href]:not([class]) {
  &:hover { text-decoration: underline; }
}


// -------- enable 100% height --------

body, html { height: 100%; }


// -------- general transition --------

$transition-time: .25s;
@mixin transition() { transition: all $transition-time ease; }


// -------- clearfix --------

@mixin clearfix() {
  &:after {
    content: " ";
    display: block;
    clear: both;
  }
}

.clearfix {
  @include clearfix();
}


// -------- accessible hiding --------

.hidden {
  position: absolute;
  left: -9999em;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}


// -------- z-index values --------

$z-overlay-upper:   25;
$z-overlay:         20;
$z-nav-upper:       15;
$z-nav:             10;
$z-content-upper:   5;
$z-content:         0;
$z-background:      -1;


// -------- background image ratios --------

.bg-image-ratio {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  &:before {
    display: block;
    content: "";
    width: 100%;
  }
}
.bg-image-ratio--1-1:before   { padding-top: 100%; }
.bg-image-ratio--4-3:before   { padding-top: 75%; }
.bg-image-ratio--3-2:before   { padding-top: 66.666666666667%; }
.bg-image-ratio--16-9:before  { padding-top: 56.25%; }
.bg-image-ratio--21-9:before  { padding-top: 42.8571429%; }


// -------- generic styles --------

// standard bg position, repeat, etc
@mixin background-attributes {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
}