// units scale used for everything, type, sizes, spacing, etc
// scale is based from Open Sans, other typefaces dont have to use this
// http://www.modularscale.com/?14,16&px&1.5

$s16: 25.629rem;
$s15: 19.527rem;
$s14: 17.086rem;
$s13: 13.018rem;
$s12: 11.391rem;
$s11: 8.679rem;
$s10: 7.594rem;
$s9:  5.786rem;
$s8:  5.063rem;
$s7:  3.857rem;
$s6:  3.375rem;
$s5:  2.571rem;
$s4:  2.25rem;
$s3:  1.714rem;
$s2:  1.5rem;
$s1:  1.143rem;
$s0:  1rem;
$s-1: .762rem;
$s-2: .667rem;
$s-3: .508rem;
$s-4: .444rem;
$s-5: .339rem;
$s-6: .296rem;